{
  "CN": "etcd",
  "hosts": [
    "127.0.0.1",
    "localhost",
    "dns.linuxtian.com",
    "*.linuxtian.com",
    "{{ api_vip_hosts }}",
    {% for host in groups['etcd'] %}
      "{{ hostvars[host]['ansible_default_ipv4']['address'] }}",
      "{{ host }}"
      {% if not loop.last %},{% endif %}
    {% endfor %}

    {% for host in groups['master'] %}
      ,"{{ hostvars[host]['ansible_default_ipv4']['address'] }}"
      ,"{{ host }}"
    {% endfor %}

    {% if vip is defined %}
      ,"{{ vip }}"
    {% endif %}

    {% if extra_ips is defined and extra_ips|length > 0 %}
      {% for ip in extra_ips %}
        ,"{{ ip }}"
      {% endfor %}
    {% endif %}
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "CN",
      "L": "BeiJing",
      "ST": "BeiJing",
      "O": "etcd",
      "OU": "Etcd Security"
    }
  ]
}
