[Unit]
Description=Etcd Server
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
User=etcd
Group=etcd
EnvironmentFile=/etc/etcd/etcd.conf
ExecStart=/usr/bin/etcd \
  --cert-file={{ etcd_ssl }}/server.pem \
  --key-file={{ etcd_ssl }}/server-key.pem \
  --peer-cert-file={{ etcd_ssl }}/server.pem \
  --peer-key-file={{ etcd_ssl }}/server-key.pem \
  --trusted-ca-file={{ etcd_ssl }}/ca.pem \
  --peer-trusted-ca-file={{ etcd_ssl }}/ca.pem \
  --logger=zap
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target

